/* Color palette sourced from https://www.color-hex.com/color-palette/109672 Venture Health Studio 3 */
/* Image sourced from: https://www.vectorstock.com/royalty-free-vectors/coming-soon-vectors */

:root {
    --pink: #e60157;
    --palepink: #f2b9cd;
    --lightgrey: #f6eaea;
    --paleblue: #0d92e9;
    --blue: #0a5583;
    margin: 0;
}

body {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    position: fixed;
    height: 85px;
    width: 99.2%;
    background-color: var(--paleblue);
    border-bottom: 10px solid var(--blue);
}

#navbar {
    padding: 20px;
}

nav li {
    top: 15px;
    display: inline;
    list-style-type: none;
    background-color: var(--lightgrey);
    color: var(--blue);
    font-size: 25px;
    margin: 15px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

section {
    background-color: var(--palepink);
}

#new {
    margin-bottom: 10px;
    padding: 75px 0px;
}

#contact {
    margin-bottom: 10px;
}

h2 {
    color: var(--pink);
    font-size: 40px;
}

p {
    color: var(--blue);
    font-size: 20px;
    padding: 10px;
}

#form {
    display: inline-block;
    border: 1px solid var(--pink);
    border-radius: 15px;
    width: 40%;
    margin-bottom: 5px;
    align-content: center;
}

form li {
    display: inline-block;
    list-style-type: none;
    color: var(--blue);
    font-size: 20px;
    margin: 5px;
    align-content: center;
}

#name,
#email {
    width: 350px;
    align-content: center;
}

button {
    height: 45px;
    width: 95px;
    background-color: var(--pink);
    color: var(--lightgrey);
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-content: center;
}

footer {
    color: var(--lightgrey);
    background-color: var(--paleblue);
    border-top: 10px solid var(--blue);
    text-align: center;
    padding: 5px;
}